/**
 * Main Class that will have our board
*/
body {
    background-color:  #121212;
}
.wrapper {
    --board--size--min: 680px;
    --board--size-max: 800px;
    background-color: #04141b;
    width: var(--board--size--min);
    margin: auto;
    margin-top: -10px;
    height: var(--board--size--min);
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 10em;
    padding:10px;
    border-radius: 10px;
    color:white;
;     
}
/**
 * Subclass for every cell in the Wrapper
*/
@keyframes hoverBox {
    from {background-color: #05202f;}
    to {background-color: #053650;}
  }
.box {
    background-color:  #05202f;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}
 

.box:hover {
    background-color: #053650;

}
/**
 * A subclass in the box which will wrap the two choices - 'X' and 'O'
 * Both choices are displayed inline.
*/
.choice-wrapper {
    font-weight: bolder;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;   
}
/**
 * The container which will have the 'X' or 'O'
*/
.choice {
    cursor: pointer;
    font-size: 40%;
    transition: 0.2s;    
}

.choice:hover {
    font-size: 48%;
}



