/**
 * Main Class that will have our board
*/
body {
    background-color:  #121212;
}

.extras {
    background: transparent;
    width: 20%;
    float: left;
    position: absolute;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#btn2 {
    margin: auto;
    font-size: 3em;
    padding: 0.4em;
    border-radius: 30px;
    border: 2px solid snow;
    background: transparent;
    transition: 0.3s;
    color: snow;
}
#btn2:hover {
    background: snow;
    color: black;
    cursor: pointer;
    padding: 0.5em;
    font-size: 3.2em;
}
.wrapper {
    --board--size: 680px;
    position: relative;
    background-color: #04141b;
    width: var(--board--size);
    margin: auto;
    margin-top: -10px;
    height: var(--board--size);
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 10em;
    padding:10px;
    border-radius: 10px;
    color:white;
;     
}
/**
 * Subclass for every cell in the Wrapper
*/

.box {
    background-color:  #05202f;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.box:hover {
    background-color: #053650;
}

.box-success {
    background-color:  #044223;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

/**
 * A subclass in the box which will wrap the two choices - 'X' and 'O'
 * Both choices are displayed inline.
*/
.choice-wrapper {
    font-weight: bolder;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    height: auto;   
}
/**
 * The container which will have the 'X' or 'O'
*/
.choice {
    cursor: pointer;
    font-size: 60%;
    transition: 0.2s;    
}

.choice:hover {
    font-size: 78%;
}



